In [1]:
#install Sweetviz 

!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-1.0b3-py3-none-any.whl (324 kB)
     |████████████████████████████████| 324 kB 582 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.0 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from sweetviz) (1.18.2)
Requirement already satisfied: matplotlib>=3.1.3 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from sweetviz) (3.2.1)
Collecting tqdm>=4.43.0
  Downloading tqdm-4.48.0-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 3.2 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.3.2 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from sweetviz) (1.4.1)
Collecting pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3
  Downloading pandas-1.0.5-cp37-cp37m-macosx_10_9_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 798 kB/s eta 0:00:01
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-3.0.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: jinja2>=2.11.1 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from sweetviz) (2.11.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2019.3)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from importlib-resources>=1.2.0->sweetviz) (2.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: setuptools in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (46.0.0.post20200309)
Requirement already satisfied: six in /Users/sandeepdiddi/opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.14.0)
Installing collected packages: tqdm, pandas, importlib-resources, sweetviz
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.42.1
    Uninstalling tqdm-4.42.1:
      Successfully uninstalled tqdm-4.42.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.1
    Uninstalling pandas-1.0.1:
      Successfully uninstalled pandas-1.0.1
Successfully installed importlib-resources-3.0.0 pandas-1.0.5 sweetviz-1.0b3 tqdm-4.48.0

In [5]:
#import Libraries 

import sweetviz as sv
import pandas as pd

In [6]:
df = pd.read_csv("mtcars2.csv")

In [7]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
#analyzing the dataset
car_report = sv.analyze(df)
#display the report
car_report.show_html('car.html')

:FEATURES DONE:                    |█████████████████████| [100%]   00:04  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!
Report car.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.